<a href="https://colab.research.google.com/github/Salvini126/informatica/blob/main/corrVerFilaAz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://salvini:Forzainter2010@cluster0-shard-00-00.biumq.mongodb.net:27017,cluster0-shard-00-01.biumq.mongodb.net:27017,cluster0-shard-00-02.biumq.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-fj2ixn-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db=client.salvini
db

Database(MongoClient(host=['cluster0-shard-00-00.biumq.mongodb.net:27017', 'cluster0-shard-00-01.biumq.mongodb.net:27017', 'cluster0-shard-00-02.biumq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-fj2ixn-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'salvini')

In [ ]:
doc=db.consolati.find_one()
doc

{'_id': ObjectId('623d89f88850478f1e70339f'),
 'capomissione': 'PALA MICHELE',
 'continente': 'South America',
 'email': 'segreteria.sanpaolo@esteri.it',
 'funzionecapo': 'CONSOLE GENERALE',
 'idtiposede': '3',
 'indirizzo': 'Avenida Paulista, 1963 - 01311-300 San Paolo',
 'lat': '-23.559803',
 'lng': '-46.6578951',
 'paese': 'BRASILE',
 'sede': 'CONSOLATO GENERALE DI PRIMA CLASSE - SAN PAOLO',
 'sitoweb': 'www.conssanpaolo.esteri.it'}

1.cognome e nome dei capocommisione con la loro funzione

In [ ]:
result = db.consolati.find({},{"capomissione":1,"funzionecapo":1,"_id":0})
df = pd.DataFrame(list(result))
df

                    capomissione                 funzionecapo
0                   PALA MICHELE             CONSOLE GENERALE
1                  ALAIMO GIULIO             CONSOLE GENERALE
2               CANFORA MAURIZIO  CONSOLE GENERALE (Reggente)
3               BELTRAME STEFANO             CONSOLE GENERALE
4               SOKOLOWICZ FABIO             CONSOLE GENERALE
..                           ...                          ...
446  BARTOCCIONI ALBERTO GUSTAVO    Agente consolare onorario
447       TANGORRA MARIA CECILIA    Agente consolare onorario
448  GUARIGLIA LESLEY AN CECILIA    Agente consolare onorario
449         BOVICELLI MARGHERITA    Agente consolare onorario
450                 RAPA LUCIANO    Agente consolare onorario

[451 rows x 2 columns]

2.l'indirizzo del consolato di Zurigo

In [ ]:
result = db.consolati.find({"indirizzo":{"$regex":"Zurigo"}},{"indirizzo":1,"_id":0})
df = pd.DataFrame(list(result))
df

                       indirizzo
0  TÃ¶distrasse, 65 - 8002 Zurigo

3.l'elenco dei consolati generali.Ordinare in ordine alfabetico

In [ ]:
result=db.consolati.find({},{"sede":1,"_id":0,"paese":1}).sort([("sede", 1)])
df = pd.DataFrame(list(result))
df

                                                  sede      paese
0    AGENZIA CONSOLARE - LOMAS DE ZAMORA (Buenos Ai...  ARGENTINA
1             AGENZIA CONSOLARE - MORON (Buenos Aires)  ARGENTINA
2                        AGENZIA CONSOLARE - WOLFSBURG   GERMANIA
3                AGENZIA CONSOLARE ONORARIA - AALESUND   NORVEGIA
4                 AGENZIA CONSOLARE ONORARIA - BARINAS  VENEZUELA
..                                                 ...        ...
446                    VICE CONSOLATO ONORARIO - VISBY     SVEZIA
447                    VICE CONSOLATO ONORARIO - VOLOS     GRECIA
448        VICE CONSOLATO ONORARIO - WINDSOR (Ontario)     CANADA
449      VICE CONSOLATO ONORARIO - WINNIPEG (Manitoba)     CANADA
450               VICE CONSOLATO ONORARIO - WOLLONGONG  AUSTRALIA

[451 rows x 2 columns]

4.il numero coplessivo di consoli generali

In [ ]:
result = db.consolati.count_documents({"funzionecapo":"CONSOLE GENERALE"})
result

46

5.i consolati che si trovano nellâ€™emisfero australe

In [ ]:
result = db.consolati.find({"lat":{"$lt":0}},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

6.lâ€™elenco dei consolati presenti in Argentina

In [ ]:
result = db.consolati.find({"paese":"ARGENTINA"},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                 sede
0                   CONSOLATO GENERALE - BUENOS AIRES
1    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
2                        CONSOLATO GENERALE - CORDOBA
3             CONSOLATO GENERALE - ROSARIO (Santa FÃ¨)
4        CONSOLATO GENERALE - LA PLATA (Buenos Aires)
5                 CONSOLATO DI PRIMA CLASSE - MENDOZA
6                           CONSOLATO - MAR DEL PLATA
7            AGENZIA CONSOLARE - MORON (Buenos Aires)
8   AGENZIA CONSOLARE - LOMAS DE ZAMORA (Buenos Ai...
9        VICE CONSOLATO ONORARIO - POSADAS (Misiones)
10      VICE CONSOLATO ONORARIO - SANTIAGO DEL ESTERO
11                  VICE CONSOLATO ONORARIO - FORMOSA
12  VICE CONSOLATO ONORARIO - SAN ISIDRO (Buenos A...
13    VICE CONSOLATO ONORARIO - SAN SALVADOR DE JUJUY
14                    VICE CONSOLATO ONORARIO - SALTA
15       VICE CONSOLATO ONORARIO - SANTA ROSA DE TOAY
16      VICE CONSOLATO ONORARIO - RESISTENCIA (Chaco)
17  VICE CONSOLATO ONORARIO - NECOCHEA (Buenos Aires)
18                 VICE CONSOLATO ONORARIO - LA RIOJA
19               VICE CONSOLATO ONORARIO - CORRIENTES
20   VICE CONSOLATO ONORARIO - QUILMES (Buenos Aires)
21                  VICE CONSOLATO ONORARIO - TUCUMAN
22      VICE CONSOLATO ONORARIO - SAN LUIS (San Luis)
23                  VICE CONSOLATO ONORARIO - NEUQUEN
24                VICE CONSOLATO ONORARIO - CATAMARCA
25       VICE CONSOLATO ONORARIO - VIEDMA (Rio Negro)
26          VICE CONSOLATO ONORARIO - TRES DE FEBRERO
27     VICE CONSOLATO ONORARIO - SAN RAFAEL (Mendoza)
28               AGENZIA CONSOLARE ONORARIA - RAFAELA
29  AGENZIA CONSOLARE ONORARIA - PERGAMINO (Buenos...
30  AGENZIA CONSOLARE ONORARIA - OLAVARRIA (Buenos...
31  AGENZIA CONSOLARE ONORARIA - MERCEDES (Buenos ...
32  AGENZIA CONSOLARE ONORARIA - LAS VARILLAS (Cor...
33             AGENZIA CONSOLARE ONORARIA - CONCORDIA
34        AGENZIA CONSOLARE ONORARIA - VILLA MERCEDES
35  AGENZIA CONSOLARE ONORARIA - SAN FRANCISCO (Co...
36  AGENZIA CONSOLARE ONORARIA - TRES ARROYOS (Bue...
37             AGENZIA CONSOLARE ONORARIA - EL DORADO
38         AGENZIA CONSOLARE ONORARIA - PUERTO MADRYN
39           AGENZIA CONSOLARE ONORARIA - VILLA MARIA
40  AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba)
41  AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...

7.lâ€™elenco dei consolati presenti in Argentina e in Brasile

In [ ]:
result = db.consolati.find({"$or":[{"paese":"ARGENTINA"},{"paese":"BRASILE"}]},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                 sede
0      CONSOLATO GENERALE DI PRIMA CLASSE - SAN PAOLO
1   CONSOLATO GENERALE - PORTO ALEGRE (Rio Grande ...
2                   CONSOLATO GENERALE - BUENOS AIRES
3    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
4                        CONSOLATO GENERALE - CORDOBA
..                                                ...
75             AGENZIA CONSOLARE ONORARIA - RIO CLARO
76         AGENZIA CONSOLARE ONORARIA - PUERTO MADRYN
77           AGENZIA CONSOLARE ONORARIA - VILLA MARIA
78  AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba)
79  AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...

[80 rows x 1 columns]

8.i consolati di cui non si conosce il sito web

In [ ]:
result = db.consolati.find({},{"sitoweb":None})
df = pd.DataFrame(list(result))
df

                          _id sitoweb
0    623d89f88850478f1e70339f    None
1    623d89f88850478f1e7033a0    None
2    623d89f88850478f1e7033a1    None
3    623d89f88850478f1e7033a2    None
4    623d89f88850478f1e7033a3    None
..                        ...     ...
446  623d89f88850478f1e70355d    None
447  623d89f88850478f1e70355e    None
448  623d89f88850478f1e70355f    None
449  623d89f88850478f1e703560    None
450  623d89f88850478f1e703561    None

[451 rows x 2 columns]

9.i consolati che non hanno una mail del Ministero degli Esteri

In [ ]:
result = db.consolati.find({"email":{"$not":{"$regex":"@esteri.it"}}},{"email":1})
df = pd.DataFrame(list(result))
df

                          _id                              email
0    623d89f88850478f1e7033ef                consolato@simnet.is
1    623d89f88850478f1e7033f0  consolato.italia.ht@alsagroup.com
2    623d89f88850478f1e7033f1       consolato.djibouti@intnet.dj
3    623d89f88850478f1e7033f2           rosannareboldi@yahoo.com
4    623d89f88850478f1e7033f4                                NaN
..                        ...                                ...
241  623d89f88850478f1e70355c                                NaN
242  623d89f88850478f1e70355d        agenciaconsular@hotmail.com
243  623d89f88850478f1e70355f               agconsonit@gmail.com
244  623d89f88850478f1e703560                bovicelli@gmail.com
245  623d89f88850478f1e703561                                NaN

[246 rows x 2 columns]

10.il numero di consolati in ogni continente

In [ ]:
result=db.consolati.aggregate([  
                                   { "$group": { "_id": "$continente","total":{"$sum":1}}}, 
                                   {"$sort":{"_id":1}}
                                   ])
df = pd.DataFrame(list(result))
df

                _id  total
0            Africa     31
1              Asia     49
2            Europe    160
3  Northern America     63
4           Oceania     15
5     South America    133

11.i continenti che hanno piÃ¹ di 50 consolati. Ordinare in ordine decrescente a partire dal continente che ha piÃ¹ consolati

In [ ]:
result=db.consolati.aggregate([  
                                   { "$group": { "_id": "$continente","total":{"$sum":1}}}, 
                                   {"$sort":{"total":-1}},
                                   {"$match":{"total":{"$gte":50}}},
                                   ])
df = pd.DataFrame(list(result))
df

                _id  total
0            Europe    160
1     South America    133
2  Northern America     63

12.il paese che ha piÃ¹ consolati