<a href="https://colab.research.google.com/github/Salvini126/informatica/blob/main/corrVerFilaCz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies

In [ ]:
doc=db.sales.find_one()
doc

{'_id': ObjectId('5bd761dcae323e45a93ccffe'),
 'couponUsed': False,
 'customer': {'age': 61,
  'email': 'ucikosusu@sid.uz',
  'gender': 'M',
  'satisfaction': 1},
 'items': [{'name': 'notepad',
   'price': Decimal128('25.83'),
   'quantity': 5,
   'tags': ['office', 'writing', 'school']},
  {'name': 'printer paper',
   'price': Decimal128('14.6'),
   'quantity': 2,
   'tags': ['office', 'stationary']},
  {'name': 'pens',
   'price': Decimal128('7.49'),
   'quantity': 1,
   'tags': ['writing', 'office', 'school', 'stationary']},
  {'name': 'backpack',
   'price': Decimal128('149.09'),
   'quantity': 4,
   'tags': ['school', 'travel', 'kids']},
  {'name': 'laptop',
   'price': Decimal128('898.84'),
   'quantity': 1,
   'tags': ['electronics', 'school', 'office']},
  {'name': 'binder',
   'price': Decimal128('21.01'),
   'quantity': 2,
   'tags': ['school', 'general', 'organization']},
  {'name': 'notepad',
   'price': Decimal128('21.06'),
   'quantity': 4,
   'tags': ['office', 'writing', 'school']},
  {'name': 'envelopes',
   'price': Decimal128('21.48'),
   'quantity': 8,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'notepad',
   'price': Decimal128('39.38'),
   'quantity': 3,
   'tags': ['office', 'writing', 'school']},
  {'name': 'binder',
   'price': Decimal128('13.07'),
   'quantity': 4,
   'tags': ['school', 'general', 'organization']}],
 'purchaseMethod': 'Online',
 'saleDate': datetime.datetime(2013, 3, 20, 16, 36, 39, 112000),
 'storeLocation': 'San Diego'}

1.le mail degli utenti che hanno usato i coupon per un acquisto

In [ ]:
result=db.sales.find({"couponUsed":True},{"mail":"$customer.email","_id":0})
df = pd.DataFrame(list(result))
df

                  mail
0     cauho@witwuta.sv
1         beancu@oz.ee
2     rutiro@tedrag.ly
3     kupeen@gareha.ne
4       wir@osibova.aq
..                 ...
472     kan@lepboil.cf
473   etvice@uploli.tv
474  tolfop@uwtuiba.bn
475        ka@ejeoj.gs
476          hud@we.ve

[477 rows x 1 columns]

2.le mail degli utenti che hanno comperato articoli per la scuola

In [ ]:
result=db.sales.find({"items.tags":{"$regex":"school"}},{"_id":"$customer.email"})
df = pd.DataFrame(list(result))
df

                     _id
0       ucikosusu@sid.uz
1       cauho@witwuta.sv
2              me@lih.st
3         keecade@hem.uy
4      worbiduh@vowbu.cg
...                  ...
4859    timibjup@epce.li
4860  zowna@hebsefduf.cd
4861     mohofri@cusa.jm
4862     ti@buhenogin.sg
4863  lihzodud@voblep.ie

[4864 rows x 1 columns]

3.gli ordini effettuati nel marzo del 2013

In [ ]:
import datetime
result=db.sales.find({"$and":[{"saleDate":{"$gte":datetime.datetime(2013,3,1)}},{"saleDate":{"$lte":datetime.datetime(2013,3,31)}}]})
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccffe,2013-03-20 16:36:39.112,"[{'name': 'notepad', 'tags': ['office', 'writi...",San Diego,"{'gender': 'M', 'age': 61, 'email': 'ucikosusu...",False,Online
1,5bd761dcae323e45a93cd078,2013-03-12 09:34:55.659,"[{'name': 'envelopes', 'tags': ['stationary', ...",London,"{'gender': 'F', 'age': 46, 'email': 'jezga@nov...",True,In store
2,5bd761dcae323e45a93cd01f,2013-03-16 11:31:20.572,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 24, 'email': 'fufjoka@z...",False,Online
3,5bd761dcae323e45a93cd0cc,2013-03-18 07:12:45.173,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'F', 'age': 39, 'email': 'not@gepo....",False,In store
4,5bd761dcae323e45a93cd0ce,2013-03-01 13:10:43.474,"[{'name': 'backpack', 'tags': ['school', 'trav...",Seattle,"{'gender': 'M', 'age': 54, 'email': 'oke@bisub...",False,Online
...,...,...,...,...,...,...,...
64,5bd761deae323e45a93ce226,2013-03-22 14:06:21.976,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 48, 'email': 'donlec@ut...",False,In store
65,5bd761deae323e45a93ce2cc,2013-03-21 16:07:34.820,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'M', 'age': 46, 'email': 'so@fot.bg...",False,In store
66,5bd761deae323e45a93ce213,2013-03-17 17:25:11.760,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 48, 'email': 'vajdince@...",True,In store
67,5bd761deae323e45a93ce29f,2013-03-08 20:20:47.152,"[{'name': 'laptop', 'tags': ['electronics', 's...",Austin,"{'gender': 'M', 'age': 53, 'email': 'majve@udu...",False,Online
68,5bd761deae323e45a93ce2cb,2013-03-07 07:10:53.504,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 68, 'email': 'fibernep@...",False,Online

4.lâ€™etÃ  media dei clienti

In [ ]:
result=db.sales.aggregate([                                
                                {"$group":{"_id":"null","etaMedia":{"$avg":"$customer.age"}}}
])
df=pd.DataFrame(list(result))
df

    _id  etaMedia
0  null   44.7356

5.il numero di clienti uomini e donne

In [ ]:
result=db.sales.aggregate([                                
                                {"$group":{"_id":"$customer.gender","total":{"$sum":1}}},
])
df=pd.DataFrame(list(result))
df

  _id  total
0   M   2473
1   F   2527

6.il numero di acquisti per ogni categoria. Ordinare le categorie in ordine decrescente

In [ ]:
result=db.sales.aggregate([       
                                {"$unwind":"$items"},
                                {"$unwind":"$items.tags"},                         
                                {"$group":{"_id":"$items.tags","total":{"$sum":1}}},
                                {"$sort":{"total":-1}}
])
df=pd.DataFrame(list(result))
df

            _id  total
0        school  20687
1        office  20453
2       writing  11431
3    stationary  11310
4       general   9181
5  organization   4676
6          kids   2309
7        travel   2309
8   electronics   2271

7.il numero di acquisti per ogni negozio (â€˜storeLocationâ€™)

In [ ]:
result=db.sales.aggregate([                                
                                {"$group":{"_id":"$storeLocation","total":{"$sum":1}}},
])
df=pd.DataFrame(list(result))
df

         _id  total
0   New York    501
1     Denver   1549
2  San Diego    346
3    Seattle   1134
4     London    794
5     Austin    676

8.i negozi in cui sono stati effettuati meno di 100 acquisti

In [ ]:
result=db.sales.aggregate([                                
                                {"$group":{"_id":"$storeLocation","total":{"$sum":1}}},
                                {"$match":{"total":{"$lt":100}}}
])
df=pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

9.il negozio in cui sono stati effettuati meno acquisti