<a href="https://colab.research.google.com/github/Salvini126/informatica/blob/main/mongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient("mongodb://salvini:Forzainter2010@cluster0-shard-00-00.biumq.mongodb.net:27017,cluster0-shard-00-01.biumq.mongodb.net:27017,cluster0-shard-00-02.biumq.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-fj2ixn-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.salvini

In [3]:
df = pd.DataFrame.from_records(db.prime.find())
df

                          _id                    S  ... IMDb rating Age of viewers
0    6193e0c4995ce73cdc701981    {'no': {'': '1'}}  ...         7.5            18+
1    6193e0c4995ce73cdc701982    {'no': {'': '2'}}  ...         8.1            16+
2    6193e0c4995ce73cdc701983    {'no': {'': '3'}}  ...         8.7            16+
3    6193e0c4995ce73cdc701984    {'no': {'': '4'}}  ...         5.3            18+
4    6193e0c4995ce73cdc701985    {'no': {'': '5'}}  ...         8.7            18+
..                        ...                  ...  ...         ...            ...
399  6193e0c4995ce73cdc701b10  {'no': {'': '400'}}  ...         NaN            NaN
400  6193e0c4995ce73cdc701b11  {'no': {'': '401'}}  ...         NaN            NaN
401  6193e0c4995ce73cdc701b12  {'no': {'': '402'}}  ...         NaN            NaN
402  6193e0c4995ce73cdc701b13  {'no': {'': '403'}}  ...         NaN            NaN
403  6193e0c4995ce73cdc701b14  {'no': {'': '404'}}  ...         NaN            NaN

[404 rows x 9 columns]